<div class="col-6 col-sm-4 col-lg-3 cwr-our-product__box-col product-card">
  <div class="cwr-our-product__box cwr-our-product__box--collections">
    <a href="{{ product.url }}">
      <figure>
        <img 
          src="{{ product.featured_image | img_url: '500x' }}" 
          alt="{{ product.featured_image.alt | escape }}" 
          class="img-fluid lazyload" 
        />
      </figure>
    </a>

    {% for tag in product.tags %}
      {% if tag == "Sale" and product.compare_at_price > product.price %}
        <span class="cwr-new-arrival cwr-sale">{{ tag }}</span>
      {% elsif tag == "New Arrival" %}
        <span class="cwr-new-arrival">{{ tag }}</span>
      {% endif %}
  {% endfor %}

    <div class="cwr-our-product__box-content">
      {% if product.metafields.custom.reviews %}
        <div class="cwr-rating">
          <ul>
            {% for i in (1..5) %}
              <li><img src="{{ 'rating-star.svg' | file_url }}" alt="star icon" class="img-fluid" width="16" height="16"></li>
            {% endfor %}
          </ul>
          <span>{{ product.metafields.custom.reviews }}</span>
        </div>
      {% endif %}

      <a href="{{ product.url }}">
        <h5>{{ product.title }}</h5>
      </a>

      <div class="cwr-product-price">
        {% if product.compare_at_price > product.price %}
          <span><del>{{ product.compare_at_price | money }}</del>{{ product.price | money }}</span>
        {% else %}
          <span>{{ product.price | money }}</span>
        {% endif %}
      </div>
    </div>

    <div class="cwr-our-product__box-cta">
    <button 
      class="custom-btn add-to-cart-btn"
      data-variant-id="{{ product.variants.first.id }}"
      data-product-url="{{ product.url }}"
    >
    <span>Shop Now</span>
  </button>
  </div>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
  document.addEventListener('click', function (e) {
    if (e.target.closest('.add-to-cart-btn')) {
      const button = e.target.closest('.add-to-cart-btn');
      const productUrl = button.dataset.productUrl;
      if (productUrl) {
        window.location.href = productUrl;
      }
    }
  });
  });
</script>
