<section class="cwr-banner">
    <div class="cwr-banner__wrap js-banner-wrap">
        {% for block in section.blocks %}
        <div class="cwr-banner__img cwr-banner-img-{{ block.id }}">
            {% if block.settings.background_banner_image != blank %}
            <div class="cwr-banner__bg-img">
                <img src="{{ block.settings.background_banner_image | image_url: width: 1903, height: 483}}" alt="hero-img" class="img-fluid lazyload">
            </div>
        {% endif %}
            <div class="cwr-banner__wrap-content">
                <div class="cwr-rating">
                    <ul>
                        {% for i in (1..5) %}
                        <li><img src="{{ 'rating-star.svg' | file_url }}" alt="star icon" class="img-fluid" width="16" height="16"></li>
                        {% endfor %}
                    </ul>
                    {% if block.settings.rating_text != blank %}<span>{{ block.settings.rating_text }}</span>{% endif %}
                </div>
                {% if block.settings.heading != blank %}
                <h1 class="custom-heading-xl">{{ block.settings.heading }}</h1>
                {% endif %}
                        
                {% if block.settings.subheading != blank %}
                <h4 class="custom-heading-sm">{{ block.settings.subheading }}</h4>
                {% endif %}
                        
                {% if block.settings.button_text != blank %}
                <a href="{{ block.settings.button_url }}" class="custom-btn">
                    <span>{{ block.settings.button_text }}<svg xmlns="http://www.w3.org/2000/svg" width="18" height="15" viewBox="0 0 18 15" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M11.3429 0.292893L17.7069 6.65685C18.0974 7.04738 18.0974 7.68054 17.7069 8.07107L11.3429 14.435C10.9524 14.8256 10.3192 14.8256 9.92869 14.435C9.53816 14.0445 9.53816 13.4113 9.92869 13.0208L14.5855 8.36396H0.999756C0.447471 8.36396 -0.000244141 7.91625 -0.000244141 7.36396C-0.000244141 6.81168 0.447471 6.36396 0.999756 6.36396H14.5855L9.92869 1.70711C9.53816 1.31658 9.53816 0.683418 9.92869 0.292893C10.3192 -0.0976311 10.9524 -0.0976311 11.3429 0.292893Z" fill="black" />
                    </svg></span>
                </a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</section>

{% schema %}
    {
      "name": "Custom Banner",
      "max_blocks": 3,
      "settings": [],
      "blocks" : [
        {
            "type": "banner",
            "name": "Banner Slider",
            "settings": [
                {
                "type": "image_picker",
                "label": "Background Image for Banner",
                "id": "background_banner_image"
                },
                {
                "type": "text",
                "label": "Heading for Banner",
                "id": "heading"
                },
                {
                "type": "text",
                "label": "Subheading for Banner",
                "id": "subheading"
                },
                {
                "type": "text",
                "label": "Button Text for Banner",
                "id": "button_text"
                },
                {
                "type": "url",
                "label": "Button Url for Banner",
                "id": "button_url"
                },
                {
                "type": "text",
                "label": "Rating Text for Banner",
                "id": "rating_text"
                }],
        }],
      "presets": [
        {
          "name": "Custom Banner"
        }
      ]
    }
    {% endschema %}
    