<section class="cwr-faq">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="cwr-faq__left">
                        {% if section.settings.faq_img != blank %}
                        <div class="cwr-faq__logo">
                        <img src="{{ section.settings.faq_img | image_url: width: 70, height: 70 }}" alt="cwr-faq logo" class="img-fluid lazyload"
                                width="70" height="70">
                        </div>
                        {% endif %}
                    {% if section.settings.faq_heading != blank %}<h2 class="custom-heading-md">{{ section.settings.faq_heading }}</h2>{% endif %}
                    {% if section.settings.faq_subheading != blank %}<h4 class="custom-heading-sm">{{ section.settings.faq_subheading }}<a href="mailto:{{ section.settings.faq_email }}">{{ section.settings.faq_email }}</a></h4>{% endif %}
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="cwr-faq__right">
                        <div class="cwr-faq-main js-faq-main-wrapper">
                            <ul>
                                {%- if section.blocks.size > 0 -%}
                                {%- for block in section.blocks -%}
                                <li class="cwr-faq-main__item">
                                    <div class="cwr-faq-main__que js-faq-main-que">
                                        <h6>{{ block.settings.title }}</h6>
                                    </div>
                                    <div class="cwr-faq-main__ans js-faq-main-ans">
                                        {{ block.settings.answer }}
                                    </div>
                                </li>
                                {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% schema %}
        {
            "name": "CWR-Faq",
            "settings": [
            {
                "type": "image_picker",
                "id": "faq_img",
                "label": "Faq Image"
            },
            {
                "type": "text",
                "id": "faq_heading",
                "label": "Faq Heading"
            },
            {
                "type": "text",
                "id": "faq_subheading",
                "label": "Faq Sub Heading"
            },
            {
                "type": "text",
                "id": "faq_email",
                "label": "Faq Email"
            }
            ],
            "blocks": [
            {
                "type": "question",
                "name" : "Question",
                "settings": [
                {
                    "type": "text",
                    "label": "Text",
                    "id": "title"
                },
                {
                    "type": "richtext",
                    "label": "Answer",
                    "id": "answer"
                }
                ]
            }
            ],
            "presets" : [
                {
                    "name" : "CWR-Faq"
                }
            ]
        }
    {% endschema %}