<section class="cwr-img-content cwr-img-content--choose-us">
        <div class="container">
            {%- for block in section.blocks -%}
            <div class="row">
                <div class="col-lg-6">
                    {% if block.settings.choose_us_img != blank %}
                    <div class="cwr-img-content__left">
                        <div class="cwr-img-content__left-img">
                            <img src="{{ block.settings.choose_us_img | image_url: width: 614, height: 663 }}" alt="choose-us-img" class="img-fluid lazyload"
                                width="614" height="663">
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="col-lg-6">
                    <div class="cwr-img-content__right">
                        {% if block.settings.heading_content != blank %}<h2 class="custom-heading-md">{{ block.settings.heading_content }}</h2> {% endif %}
                        {% if block.settings.sub_heading_content != blank %}<h4 class="custom-heading-sm">{{ block.settings.sub_heading_content }}</h4>{% endif %}
                        {% if block.settings.main_content != blank %}{{ block.settings.main_content }}{% endif %}
                        {% if block.settings.button_label != blank or block.settings.button_link != blank %}
                        <a href="{{ block.settings.button_link }}" class="custom-btn">
                            <span>{{ block.settings.button_label }}<svg xmlns="http://www.w3.org/2000/svg" width="18" height="15"
                                    viewBox="0 0 18 15" fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M11.3429 0.292893L17.7069 6.65685C18.0974 7.04738 18.0974 7.68054 17.7069 8.07107L11.3429 14.435C10.9524 14.8256 10.3192 14.8256 9.92869 14.435C9.53816 14.0445 9.53816 13.4113 9.92869 13.0208L14.5855 8.36396H0.999756C0.447471 8.36396 -0.000244141 7.91625 -0.000244141 7.36396C-0.000244141 6.81168 0.447471 6.36396 0.999756 6.36396H14.5855L9.92869 1.70711C9.53816 1.31658 9.53816 0.683418 9.92869 0.292893C10.3192 -0.0976311 10.9524 -0.0976311 11.3429 0.292893Z"
                                        fill="black" />
                                </svg></span>
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
</section>
{% schema %}
    {
        "name": "Img-Content Choose Us",
        "settings": [],
        "blocks" : [
        {
            "type": "text_content",
            "name": "Choose Us Block",
            "settings": [
                {
                "type": "image_picker",
                "label": "Choose Us Image",
                "id": "choose_us_img"
                },
                {
                "type": "text",
                "label": "Choose Us Heading Content",
                "id": "heading_content"
                },
                {
                "type": "text",
                "label": "Choose Us Sub Heading Content",
                "id": "sub_heading_content"
                },
                {
                "type": "richtext",
                "label": "Choose Us Main Content",
                "id": "main_content"
                },
                {
                "type": "text",
                "id": "button_label",
                "label": "Choose Us Button Label"
                },
                {
                "type": "url",
                "id": "button_link",
                "label": "Choose Us Button Link"
                }
            ]
        }
        ],
        "presets" : [
           {
            "name" : "Img-Content Choose Us"
            }
        ]
    }
{% endschema %}